{% include header.html %}
<div id="nav">
  <h1><a href="/">{{ site.title }}</a></h1>

  <ul>
    <li><a href="/archive/">Archive</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="http://feeds.andrewloe.com/WALoeIII-Journal">Feed</a></li>
  </ul>

  <h3>search</h3>
  <form method="get" action="http://www.google.com/search">
    <input type="text" id="search" class="ti" name="q" value="" />
    <input type="hidden" name="q" value="site:journal.andrewloe.com" />
    <input type="submit" value="Search" />
  </form>

  <h3>about me</h3>
  <p>I am a web developer at 
    <a href="http://onehub.com">Onehub</a>. I like sailing, snowboarding, and computers.</p>

    <h3>more me</h3>

    <ul>
      <li>
        <a href="http://gallery.andrewloe.com/">
          gallery
        </a>
      </li>
      <li>
        <a href="http://github.com/loe">
          github
        </a>
      </li>
      <li>
        <a href="http://twitter.com/WALoeIII">
          Twitter 
        </a>
      </li>
      <li>
        <a href="http://www.facebook.com/WALoeIII">
          Facebook
          </a>
      </li>
      <li>
      <a href="http://www.linkedin.com/in/WALoeIII">
        LinkedIn
        </a>
      </li>
      <li>
        <a href="http://onehub.com/">
          Onehub
          <span>File Transfer and Online Collaboration!</span>
        </a>
      </li>
      <li>
        <a href="mailto:andrew@andrewloe.com">
          Email
        </a>
      </li>
    </ul>

</div>

<div id="content">

  {{ content }}

</div>
{% include footer.html %}