{% include header.html %}
<div id="nav">
  <h1><a href="/">{{ site.title }}</a></h1>

  <ul>
    <li><a rel="author" href="http://www.andrewloe.com/">W. Andrew Loe III</a></li>
    <li><a href="/archive/">Archive</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/atom.xml">Feed</a></li>
  </ul>

  <h3>search</h3>
  <form method="get" action="http://www.google.com/search">
    <input type="text" id="search" class="ti" name="q" value="" />
    <input type="hidden" name="q" value="site:journal.andrewloe.com" />
    <input type="submit" value="Search" />
  </form>

</div>

<div id="content">

  {{ content }}

</div>
{% include footer.html %}
